.PostCardListContainer {
	grid-area: main;
	display: flex;
	flex-direction: column;

	gap: clamp(1.5rem, 1.75rem, 2rem);
	max-inline-size: 60ch;
	min-block-size: 100vh;
	width: 100%;

	@media (max-width: 768px) {
		& {
			max-width: 70dvw;
			justify-self: center;

			margin-left: auto;
			margin-right: auto;

			margin-top: 64px;
		}
	}
}
