.Wrapper {
	grid-area: main-content;

	position: relative;
	width: 100dvw;
	max-width: 1100px;

	margin-left: auto;
	margin-right: auto;
}

.Article {
	display: flex;
	flex-direction: column;
	justify-content: center;

	word-spacing: 0.2ch;
	text-align: left;

	background-color: var(--color-background);
	box-shadow: var(--box-shadow-2);

	text-align: left;
}

.Header {
	text-align: center;
	padding: 128px 32px 96px 32px;
}

.Title {
	font-size: calc(2.76rem);
	text-align: center;
	color: color-mix(in oklch, var(--color-highlightColor) 90%, transparent);
}

.Time {
	text-align: center;
	color: color-mix(in oklch, var(--color-text) 50%, transparent);
	font-size: var(--size-4);
}

.Main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;

	row-gap: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;

	font-weight: 500;

	& > span {
		color: oklch(90.75% 0.042 30.85);
	}

	& > h1 {
		font-size: calc(2rem);
	}

	& > ol {
		--counter-name: counts;
		counter-reset: var(--counter-name);
	}

	& > ol > li {
		display: flex;
		counter-increment: var(--counter-name);
		text-align: baseline;
	}

	& > ol > li::before {
		content: counters(var(--counter-name), ".") ". ";
		font-feature-settings: "tnum";
		padding-right: 12px;
		font-weight: 900;
		font-family: "Wotfard", sans-serif;
		font-size: calc(1.15rem);
		color: var(--color-bird);
	}

	& > h1,
	h2,
	h3,
	h4,
	h5 {
		font-weight: 900;
	}
}

@counter-style stylized-num {
	system: "numeric";
}
