@import "./PostcardList.css";
@import "./aside_menu.css";
@import "./PostcardContent.css";

.main__content {
	display: grid;
	grid-template-columns:
		[aside] 13dvw
		[main] clamp(45dvw, 50dvw, 55dvw);
	justify-content: center;
	align-items: flex-start;
	gap: 64px 96px;
	width: 100dvw;
	max-width: 1100px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;

	background: var(--surface-1);
	transition: background 350ms ease 0s;
}

.main__icon {
	display: flex;
}

/* @media (max-width: 768px) {
	#main {
		grid-template-columns: var(--size-content-3);
	}
} */
