@import "./PostcardList.css";
@import "./aside_menu.css";
@import "./PostcardContent.css";

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-size: 100%;
	padding: 0 0 100px 0;
	column-gap: 3rem;
	container: main_container / inline-size;
	background: var(--surface-1);
	@container main_container ( width <= 768px) {
		.main_aside {
			display: none;
			opacity: 0;
		}
	}
}

.main__content {
	display: grid;
	grid-template-columns:
		[aside] 15ch
		[main] clamp(45ch, 50ch, 55ch);
	justify-content: center;

	padding: 0 0 100px 0;
	column-gap: 3rem;
}

.main__icon {
	display: flex;
	justify-content: center;

	margin-top: 8px;
	position: relative;
	left: 300px;
}

@media (max-width: 768px) {
	#main {
		grid-template-columns: var(--size-content-3);
	}
}
