.postcard {
	grid-area: main;
	display: flex;
	flex-direction: column;

	gap: clamp(1.5rem, 1.75rem, 2rem);
	max-inline-size: 60ch;
	min-block-size: 100vh;
	width: 100%;

	.postcard__container {
		position: sticky;
		transform-origin: center top;
	}

	.postcard__list {
		display: grid;
		grid-template:
			"icon header"
			"empty content" / 50px minmax(1ch, 1fr);

		background: var(--surface-2);
		transition: background 350ms ease 0s;

		border: none 0px transparent;
		border-radius: var(--size-5);
		padding: 2rem 2rem 3rem 2rem;
		gap: clamp(1rem, 1.25rem, 1.5rem);

		&:hover {
			box-shadow: var(--box-shadow-1);

			h1 {
				color: var(--highlight-color);
				text-decoration: underline;
				text-decoration-thickness: 6px;
				text-underline-offset: 10px;
			}
		}

		&:active {
			border-radius: 30px;
		}
	}

	.postcard__icon-image {
		grid-area: icon;

		align-self: center;
		justify-self: center;
	}

	.postcard__title {
		grid-area: header;

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: var(--size4);

		& > time {
			justify-self: flex-start;
		}
	}

	.postcard__content {
		grid-area: content;

		display: inline-flex;
	}
}
