.post {
	display: inline-flex;

	position: relative;
	width: 100dvw;
	flex-direction: column;

	padding-top: 5dvh;

	font-family: "Nanum SquareNeo", serif;

	background-color: var(--pink-2);

	&__article {
		line-height: 2;
		word-spacing: 0.2ch;
		text-align: start;
	}
}

.post__article {
	line-height: 2;
	word-spacing: 0.2ch;
	text-align: start;
	background-color: var(--surface-2);
	padding: 20dvh 0 20dvh 0;
	box-shadow: var(--box-shadow-2);

	border-radius: 20dvw;
	&__header {
		line-height: 1.5;
		text-align: center;
		margin-bottom: 8dvh;

		h1 {
			font-size: 4rem;
		}
	}

	&__header--date {
		font-size: var(--size-4);
		color: oklch(21.08% 0.055 34.69 / 50%);
		line-height: 1.5;
	}

	&__main {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;

		position: relative;
		left: calc(50dvw - 24rem);

		max-width: 48rem;
		padding: 0 2rem 0 2rem;
		margin: 0;
	}
}
