.post_card_list {
  display: flex;
  flex-direction: column;

  gap: clamp(1.5rem, 3vw, 2rem);
  max-inline-size: 60ch;
  min-block-size: 100vh;
  font-family: var(--nanum-squareNeo);
  margin-bottom: 5rem;

  & > span {
    font-family: var(--nanum-squareNeo-bold);
  }
}

.post_card {
  display: grid;
  grid-template:
    "icon header"
    "empty content" / 50px minmax(1ch, 1fr);
  position: relative;

  background: var(--surface-2);
  border: none 0px transparent;
  border-radius: var(--size-5);
  padding: 2rem 2rem 3rem 2rem;
  gap: clamp(1rem, 1.25rem, 1.5rem);
  & > img {
    grid-area: icon;

    position: sticky;
    top: 24px;
    align-self: center;
    justify-self: center;
  }

  & > header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    margin-left: 1rem;

    & > time {
      justify-self: flex-start;
    }
  }

  & > section {
    grid-area: content;

    display: grid;
    margin-left: 1rem;
  }

  &:hover {
    box-shadow: var(--shadow-5);
  }

  &:active {
    border-radius: 30px;
  }
}
