@keyframes grow-progress {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
/* 
#progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 1em;
	height: 100%;
	background: red;

	transform-origin: 50% 0;
	animation: grow-progress auto linear;
	animation-timeline: scroll();
}

#progress[scroll-direction="down"] {
	background: blue;
} */

#wing {
	transform-origin: center center;
	transform: rotate(-17deg);
}

#eye {
	& > path {
		transform-origin: center 30%;
		transform: scaleY(0.9);
	}
}

/* #body {
	transform-origin: center center;
	transform: translateY(-5px);
	animation: move 1000ms infinite;
} */

@keyframes move {
	0% {
		transform: translateY(3px);
	}

	40% {
		transform: translateY(-7px);
	}

	50% {
		transform: translateY(-6px);
	}

	90% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(3px);
	}
}

@keyframes upAndDown {
	0% {
		transform: rotate(-17deg);
	}

	50% {
		transform: rotate(16deg);
	}

	100% {
		transform: rotate(-17deg);
	}
}

@keyframes grow-progress {
	to {
		transform: scaleX(1);
	}
}
@keyframes grow-light {
	to {
		opacity: 1;
	}
}
