@layer base.theme {
	.sun-and-moon {
		--icon-fill: oklch(45.88% 0.029 30.71);
		--icon-hover-fill: oklch(21.08% 0.055 34.69);

		& > :is(.moon, .sun, .sun-beams) {
			transform-origin: center center;
		}

		& > :is(.moon, .sun) {
			fill: var(--icon-fill);
		}

		& > .sun-beams {
			stroke: var(--icon-fill);
		}
	}

	.theme-toggle:is(:hover, :focus-visible) .sun {
		fill: var(--icon-hover-fill);
	}

	.theme-toggle:is(:hover, :focus-visible) .sun-beams {
		stroke: var(--icon-hover-fill);
	}

	[data-color-mode="dark"] {
		.sun-and-moon {
			--icon-fill: oklch(100% 0 31.08 / 0.7);
			--icon-hover-fill: oklch(100% 0 31.08);
			& > .sun {
				transform: scale(1.75);
			}

			& > .sun-beams {
				opacity: 0;
				transform: rotate(-70deg);
				transform: scale(0);
			}

			& > .moon > circle {
				transform: translate(-7px, -16px);
			}
		}
	}

	[data-color-mode="light"] {
		.sun-and-moon {
			& > .sun-beams {
				transform: rotate(70deg);
				transform: scale(1);
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.sun-and-moon {
			transition: fill 0.3s ease-in-out;
		}

		.sun-and-moon > .sun {
			transition: transform 0.5s ease-in;
		}
		.sun-and-moon > .sun-beams {
			transition: transform 0.5s ease-in, opacity 0.3s ease-in,
				scale 0.4s ease-in;
		}

		.sun-and-moon > .moon > circle {
			transition: transform 0.4s ease-in-out;
		}
	}
}
