.hero-image__wrapper {
  grid-area: main-hero-image;

  display: grid;
  grid: [hero-image] 1fr / [hero-image] 1fr;
  position: relative;

  justify-items: center;
  align-items: center;
  object-fit: contain;

  & > img {
    transition: opacity 350ms ease 0s;
  }

  /* animation: showup;
  animation-delay: 100ms;
  animation-duration: 500ms;
  animation-fill-mode: backwards; */
}

.hero-image__image {
  grid-area: hero-image;

  z-index: 50;
}

.hero-image__image-frame {
  grid-area: hero-image;
  z-index: 80;
}

.hero-image__canvas {
  grid-area: hero-image;
  z-index: 60;

  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;

  max-width: 883px;
}

.hero-image__image-clouds {
  grid-area: hero-image;

  z-index: 40;
  animation: movement 2s infinite running linear;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* background: linear-gradient(
	  oklch(82.9% 0.09573202406959574 31.111262465234525),
	  oklch(97.14% 0.011 31.07)
  ); */
