.hero-image__wrapper {
	grid-area: main-hero-image;

	display: grid;
	grid: [hero-image] 1fr / [hero-image] 1fr;
	position: relative;

	justify-content: center;
	align-items: center;
	object-fit: contain;

	background: linear-gradient(
		oklch(82.9% 0.09573202406959574 31.111262465234525),
		oklch(97.14% 0.011 31.07)
	);
}

.hero-image__image {
	grid-area: hero-image;
	display: none;
}
