.hero-image__wrapper {
  grid-area: main-hero-image;

  display: grid;
  grid: [hero-image] 1fr / [hero-image] 1fr;
  position: relative;

  justify-items: center;
  align-items: center;
  object-fit: contain;
}

.hero-image__image {
  grid-area: hero-image;

  z-index: 40;
}

.hero-image__image-frame {
  grid-area: hero-image;

  z-index: 80;
}

.hero-image__canvas {
  grid-area: hero-image;
  z-index: 60;

  width: 83%;
  height: 100%;

  max-width: 883px;
}

.hero-image__image-clouds {
  display: none;
  z-index: 40;
}

/* background: linear-gradient(
	  oklch(82.9% 0.09573202406959574 31.111262465234525),
	  oklch(97.14% 0.011 31.07)
  ); */
