@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  line-height: calc(1em + 0.9rem);
  -webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  min-height: 100%;
  background: var(--color-background);
  font-size: 1rem;
  font-weight: 500;
}

html {
  --color-light-heroimage: 1;
  --color-dark-heroimage: 0;
  --scrollbar-width: 12px;
  --scrollbar-height: 12px;
  --color-birdWing: oklch(50.89% 0.054 232.07);
  --color-birdBody: oklch(26.29% 0.026 216.39);
  --color-birdBeak: oklch(72.63% 0.045 233.48);
  --color-birdEyeball: oklch(88.53% 0 0);
  --color-birdShadow: oklch(
    33.71% 0.06084120684331697 236.3806640420637 / 82.55%
  );
  --bariol-serif: "Bariol_serif";
  --nanum-square-neo: "NanumSquareNeo";

  display: block;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#__next {
  isolation: isolate;
  container: root / inline-size;
}

ol,
ul,
menu {
  padding-left: 1rem;
}

li {
  list-style: none;
}

input {
  writing-mode: horizontal-tb !important;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  cursor: text;
}

button {
  cursor: pointer;
  touch-action: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  max-width: 40rem;
}

a {
  cursor: pointer;
  touch-action: manipulation;
}

blockquote {
  background-color: color-mix(in oklch, var(--color-navlink) 25%, transparent);
  padding: 1rem;
  border-radius: 15px;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  background-color: var(--color-core-bg);
  color: var(--color-core-text);
  border: 1px solid #d2d3d7;
  font: inherit;
  padding: 0.5em;
  line-height: 1;
  border-radius: 8px;
}

iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

button {
  border: none;
  background: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-core-text);
}

table {
  display: table;
  border-collapse: separate;
  text-indent: initial;
  unicode-bidi: isolate;
  border-color: gray;

  margin-bottom: 48px;
  margin-inline: -16px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  text-align: left;
  font-weight: 700;
  color: oklch(42.44% 0.0107 17.58 / 0.8);
  padding: 6px 14px;
  border-bottom: 3px solid oklch(42.44% 0.0107 17.58 / 0.8);
}

th:not(:last-of-type) {
  border-right: 1px solid oklch(42.44% 0.0107 17.58 / 0.8);
}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
  color: oklch(42.44% 0.0107 17.58 / 0.8);
  border-bottom: 1px solid oklch(42.44% 0.0107 17.58 / 0.8);
}

td:not(:last-of-type) {
  border-right: 1px solid oklch(42.44% 0.0107 17.58 / 0.8);
}

td:first-of-type {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

strong {
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-highlight);
  padding-left: 2px;
  padding-right: 2px;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.07);
}

.image_compo {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.blog-main__background-template {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 812px;
  background: var(--color-landscape);
  z-index: -1;
}

li.active > a {
  color: var(--color-highlight);
  font-weight: 700;
}

/* #blog-main__header-scroll-trigger {
  position: absolute;
  top: 300px;
  height: 1px;
  width: 100%;
  background: color-mix(in oklch, oklch(63.24% 0.2927 8), transparent);
}

#blog-main__content-startline {
  height: 1px;
  background: blue;
  z-index: 1000;
} */

#blog-main__header-content-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background 350ms ease 0s;
}

.blog-main__landing-page {
  overflow: hidden;
  transition: color 350ms ease 0s, background 350ms ease 0s;
}

#blog-main__recently-post-list {
  position: relative;
  top: -65px;
  background: var(--color-frontWave);
}

.blog-main__landing-page-link {
  display: inline-flex;
  padding: 10px 16px 10px 16px;
  font-weight: 600;
  border-radius: 18px;
  background-color: var(--color-primary);
  user-select: none;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1) translateX(0) translateZ(0);
  transition: transform 200ms cubic-bezier(0.5, 1.25, 0.75, 1.25);
}

.blog-main__landing-page-link:hover {
  transform: scale(1.25) translateX(-2px) translateZ(16px);
}

.post-heading-titles {
  & > code {
    transform: translateX(-4px) translateY(-4px);
  }
}

#moblie-nav__link-wrapper li:nth-child(3),
#moblie-nav__link-wrapper li:nth-child(4),
#moblie-nav__link-wrapper li:nth-child(5),
#moblie-nav__link-wrapper li:nth-child(6) {
  padding-left: 2rem;
}

@container root (width <= 924px) {
  #blog-post__article {
    padding-left: 7cqw;
    padding-right: 7cqw;
  }

  #blog-post__header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #blog-main__recently-post-list {
    padding-left: 5cqw;
    padding-right: 5cqw;
  }
}

@container root (width <= 1004px) {
  #blog-post__page-nav {
    display: none;
  }
}

@container root (width > 768px) {
  #blog-post__article {
    margin-left: auto;
    margin-right: auto;
  }
}

@container root (width > 768px) {
  #moblie-nav-portal {
    display: none;
  }

  #moblie-nav-trigger {
    display: none;
  }
}

@container (width <= 786px) {
  #blog-main__categories {
    display: none;
  }

  #blog-main__post-navigation {
    display: none;
  }

  #blog-main__recently-post-list-wrapper {
    grid-template:
      "newest"
      "newset" 1fr / 1fr;

    padding-left: 32px;
    padding-right: 32px;
  }

  #blog-main__header-wrapper {
    padding-top: 30px;
  }

  .blog-main__landing-page {
    padding-top: 65px;
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    width: var(--scrollbar-width, 12px);
    height: var(--scrollbar-height, 12px);
    background-color: var(--color-thumb-background);
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid var(--color-thumb-background);
    background-color: var(--color-thumb);
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--color-thumb) transparent;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-500px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateX(-500px);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

html[data-color-theme="dark"] .shiki,
html[data-color-theme="dark"] .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki {
  overflow-x: auto;
  border-radius: 0.75rem;
  padding: 1.25rem;
}
