@font-face {
	font-family: "Nanum SquareNeo";
	src: url("/fonts/NanumSquareNeo-Variable.ttf");
}

@font-face {
	font-family: "Nanum SquareNeo Heavy";
	src: url("/fonts/NanumSquareNeo-eHv.ttf");
}

@font-face {
	font-family: "Nanum SquareNeo Bold";
	src: url("/fonts/NanumSquareNeo-cBd.ttf");
}

* {
	margin: 0px;
	line-height: calc(1em + 0.8rem);
	-webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	display: block;
}

html,
body {
	height: 100%;
}

#__next {
	isolation: isolate;

	container-name: root;
	container-type: normal;

	display: grid;
	grid-template-columns: [side-header] 88px [main-content] 1fr;
	grid-template-rows: 1fr;

	@media screen and (max-width: 768px) {
		grid-template-columns: [main-content] 1fr;
		grid-template-rows: 1fr;
	}
}

body {
	font-family: "Nanum SquareNeo";
	color: var(--color-text);
	background: var(--color-background);
	transition:
		color 350ms ease 0s,
		background 350ms ease 0s;

	overflow-y: scroll;
}

li {
	list-style: none;
}

input {
	writing-mode: horizontal-tb !important;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	appearance: auto;
	cursor: text;
	margin: 0em;
}

button {
	cursor: pointer;
	touch-action: auto;
}

input,
button,
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	max-width: 40rem;
}

a {
	cursor: pointer;
	touch-action: manipulation;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	display: block;
	width: 100%;
	background-color: var(--color-core-bg);
	color: var(--color-core-text);
	border: 1px solid #d2d3d7;
	font: inherit;
	padding: 0.5em;
	line-height: 1;
	border-radius: 8px;
}

img,
iframe {
	max-inline-size: 100%;
	block-size: auto;
	object-fit: contain;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

button {
	border: none;
	background: transparent;
}

span {
	font-size: var(--size-6);
	font-family: "Nanum SquareNeo Heavy";
}

h1,
h2,
h3,
h4 {
	font-family: "Nanum SquareNeo Heavy";
}

h1 {
	font-size: 2.5rem;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-core-text);

	&:visited {
		color: var(--color-core-text);
	}
}

:is(blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre) {
	margin: 0;
}

table {
	table-layout: auto;
	text-align: center;
}

table,
th,
td {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid;
}

:is(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

::-webkit-scrollbar {
	width: var(--scrollbar-width, 12px);
	height: var(--scrollbar-height, 12px);
	background-color: oklch(92.54% 0.01 32.52);
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	border: 2px solid oklch(92.54% 0.01 32.52);
	background-color: oklch(53.88% 0.029 30.71);
}

::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: oklch(53.88% 0.029 30.71) transparent;
}

/* Variables */

@layer base.props {
	:root {
		--pink-0: #fdeeeb;
		--pink-1: rgba(243, 162, 145, 100%);
		--pink-2: oklch(78.78% 0.1 32.39);
		--pink-3: rgba(243, 162, 145, 17%);
		--pink-4: oklch(70.8% 0.165 32.85 / 0.7);
		--pink-5: oklch(70.8% 0.165 32.85);

		--gray-1: oklch(54.74% 0.023 238.99);
		--gray-2: oklch(34% 0.019 229.64);
		--gray-3: oklch(64.86% 0.181 249.54);

		--shadow-color: 26.79% 0.003 264.51;
		--shadow-strength: 1%;
		--box-shadow-1: 0 -1px 2px 0 oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 2%)),
			0 2px 1px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 5px 5px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 10px 10px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 4%)),
			0 20px 20px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 5%)),
			0 40px 40px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 7%));
		--box-shadow-2: 0 -1px 2px 0 oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 1%)),
			0 -15px 10px 0px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 15px 5px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 10px 10px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 9%)),
			0 20px 20px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 5%)),
			0 40px 40px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 7%));

		--surface-header: var(--pink-2);

		--on-primary: var(--surface-1) --primary-container: var(--pink-2)
			--size-1: 0.25rem;
		--size-2: 0.5rem;
		--size-3: 0.75rem;
		--size-4: 1rem;
		--size-5: 1.25rem;
		--size-6: 1.5rem;
		--size-7: 1.75rem;
		--size-8: 2rem;

		--size-content-1: 20ch;
		--size-contnet-2: 45ch;
		--size-content-3: 60ch;

		--font-size-0: 0.75rem;
		--font-size-1: 1rem;
		--font-size-2: 1.1rem;
		--font-size-3: 1.25rem;
		--font-size-4: 1.5rem --font-size-5: 2rem;
		--font-size-6: 2.5rem;

		--nav-height: 77px;
		--size-inline-1: var(--size-6);

		--scrollbar-width: 12px;
		--scrollbar-height: 12px;
		--scrollbar-background-color: oklch(92.54% 0.01 32.52);
		--scrollbar-thumb-color: oklch(45.88% 0.029 30.71);

		--shadow-color: 10deg 22% 62%;
		--shadow-elevation-low: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36),
			0px 0.3px 0.3px -1.3px hsl(var(--shadow-color) / 0.34),
			0px 0.7px 0.8px -2.7px hsl(var(--shadow-color) / 0.32);
		--shadow-elevation-medium: 0px 0.2px 0.2px
				hsl(var(--shadow-color) / 0.37),
			0px 0.5px 0.5px -0.9px hsl(var(--shadow-color) / 0.36),
			-0.1px 1.3px 1.4px -1.8px hsl(var(--shadow-color) / 0.35),
			-0.2px 3.3px 3.6px -2.7px hsl(var(--shadow-color) / 0.33);
		--shadow-elevation-high: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.31),
			0px 0.8px 20.9px -0.3px hsl(var(--shadow-color) / 0.3),
			-0.1px 1.4px 1.5px -0.7px hsl(var(--shadow-color) / 0.3),
			-0.1px 2.3px 2.5px -1px hsl(var(--shadow-color) / 0.29),
			-0.2px 3.5px 3.8px -1.3px hsl(var(--shadow-color) / 0.29),
			-0.3px 5.3px 5.8px -1.7px hsl(var(--shadow-color) / 0.28),
			-0.4px 7.9px 8.7px -2px hsl(var(--shadow-color) / 0.28),
			-0.6px 11.4px 12.5px -2.4px hsl(var(--shadow-color) / 0.27),
			-0.9px 16.1px 17.7px -2.7px hsl(var(--shadow-color) / 0.27);
	}
}
