.asideMenuContainer {
	grid-area: aside;

	display: flex;
	flex-direction: column;
	gap: var(--size-2);
	margin-top: 4.5rem;

	position: sticky;
	width: fit-content;
	cursor: pointer;

	@media (max-width: 768px) {
		display: none;
		opacity: 0;
		cursor: none;
	}
}
