.HeaderWrapper {
  grid-area: side-header;

  width: 100%;
}

.HeaderContainer {
  position: sticky;
  top: 0px;

  height: 100dvh;

  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  justify-content: space-between;

  @container root ( width <= 768px ) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
