.HeaderWrapper {
  grid-area: side-header;

  width: 100%;
}

.HeaderContainer {
  position: sticky;
  top: 0px;
  height: 100dvh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;

  opacity: 1;
  visibility: visible;
<<<<<<< HEAD
  background-color: var(--color-header);
=======
>>>>>>> dev-v2
  @container root ( width <= 768px ) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
