.PostCardListContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (max-width: 768px) {
		& {
			margin-left: auto;
			margin-right: auto;

			margin-top: 64px;
			max-width: 288px;
		}
	}
}
