.wrapper {
	border-radius: 0px !important;
	margin: 0px calc(24 * -1) 64px !important;
	border: 1px solid transparent;
}
.wrapper pre {
	padding: 24px !important;
}
.wrapper code {
	font-family: "NanumFontNeo";
}
.wrapper code > div {
	font-size: 1.125rem;
	padding: 0px !important;
}

@media (min-width: 56rem) {
	.wrapper {
		border-radius: 8px !important;
	}
}
