.main__content {
	display: grid;
	grid-template-columns:
		[aside] 13dvw
		[main] clamp(45dvw, 50dvw, 55dvw);
	justify-content: center;
	align-items: flex-start;
	gap: 64px 96px;
	width: 100dvw;
	max-width: 1100px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;

	background: var(--surface-1);
	transition: background 350ms ease 0s;

	margin-block-start: 4rem;
	margin-inline: auto;
}
