.site-header__brand {
  display: inline-block;
  width: 140px;
  cursor: pointer;
  align-items: center;
  padding-left: 0.25rem;

  & > svg {
    display: block;
    width: 100%;
    max-width: 8rem;
    fill: #585b63;
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
}

.cluster {
  display: flex;
  gap: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
  align-items: center;

  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* @media (min-width: 50em) {
  .md\:hidden-yes {
    display: none;
  }
} */
