.site-header__brand {
	display: inline-block;
	width: 140px;
	cursor: pointer;
	align-items: center;
	padding-left: 0.25rem;

	& > svg {
		display: block;
		width: 100%;
		max-width: 8rem;
		fill: #585b63;
	}
}

.icon-button {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

/* @media (min-width: 50em) {
  .md\:hidden-yes {
    display: none;
  }
} */
