.site-tabs-content,
.tabs-dropdown-toggle {
  text-decoration: none;
}

.tabs-dropdown-toggle {
  &::before {
    content: "arrow_drop_down";
    color: hsl(220, 75%, 50%);
  }

  cursor: pointer;
  inline-size: 4ch;
  width: fit-content;

  display: inline-block;
  transform: rotateX(0deg);
  transition: 0.3ms ease;
}

.tabs-dropdown-toggle[aria-expanded="true"] {
  transform: rotateX(-180deg);
}

.dropdown-wrapper {
  display: inline-block;
  width: fit-content;
}

.tab-dropdown-column {
  position: absolute;

  display: block;
  opacity: 0;
  visibility: hidden;
  inset-block: 2.5em;
  inset-inline: -1em;

  transform: translateY(20px);
  transition: 0.2s ease;
}

.tab-dropdown-column[dropdown--open] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tab-dropdown-section {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;

  min-width: 100%;
  min-height: 100%;

  align-items: flex-start;
  padding: 14px;

  background: #ffffff;

  box-shadow: 0 -2px 5px 0 hsl(var(--shadow) / calc(var(--shadow-strength) + 5%)),
    0 1px 1px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 10%)),
    0 2px 2px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 12%)),
    0 5px 5px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 13%)),
    0 9px 9px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 14%)),
    0 16px 16px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 20%));
}

.nav-item {
  cursor: pointer;
  text-decoration: none;
  margin: 0.5rem 0;

  display: block;

  font-size: 1.1em;
  font-weight: bold;
  writing-mode: horizontal-tb;
}
