@import "./navigation.css";
@import "./dropdownMenu.css";
@import "./search.css";
@import "./cluster.css";
@import "./booknavbar.css";
@import "./theme.css";
@import "./toggleBtn.css";

@layer base.props, base.theme, base.toggle;

.site-header {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	-webkit-box-align: center;

	padding-left: 2rem;
	padding-right: 2rem;
	margin-left: auto;
	margin-right: auto;

	background: var(--surface-1);
	transition: background 350ms ease 0s;

	position: sticky;
	top: 0;

	max-width: 1100px;
	height: 3.75rem;
}

.site-header,
.cluster {
	flex-wrap: nowrap;
}

.btn_container {
	display: inline-flex;
	align-items: center;
	gap: var(--size-8);
}

#brid-main-icon {
	display: inline-flex;

	position: fixed;
	left: calc(50dvw - 55px);
	top: 2.1rem;
}

#large_cloud {
	position: relative;
	top: -0.2rem;
}
#cloud {
	margin-left: 0.5rem;
	position: relative;
	top: 1rem;
}
