.site-search-wrapper {
	display: inline-flex;

	position: relative;
}

.site-header__search-open-btn {
	background: none;
	border: none;
	padding: 0;

	inline-size: var(--toggle-size);
	block-size: var(--toggle-size);

	opacity: 1;
	visibility: visible;

	aspect-ratio: 1;

	touch-action: manipulation;
	cursor: pointer;

	& > svg {
		inline-size: 80%;
		block-size: 80%;
	}
}

.site-header__search-open-btn[hidden] {
	opacity: 0;
	visibility: hidden;
}

.site-search__input-wrapper {
	position: absolute;
	inset: -0.7rem 0 auto auto;
	display: none;
}

.site-search__input-wrapper[aria-expanded="true"] {
	display: block;
	width: clamp(16rem, 40dvw, 25rem);
}

.site-search__input:focus-visible {
	outline-offset: 4px;
	outline: 2px solid #3740ff;
}
