.site-search-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

.site-header__search-open-btn {
  display: inline-block;
  padding: 0;
  cursor: pointer;

  opacity: 1;
  visibility: visible;
}

.site-header__search-open-btn[hidden] {
  opacity: 0;
  visibility: hidden;
}

.site-search__input-wrapper {
  position: absolute;
  inset: -0.7rem 0 auto auto;
  display: none;
}

.site-search__input-wrapper[aria-expanded="true"] {
  display: block;
  width: clamp(16rem, 40dvw, 25rem);
}

.site-search__input:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #3740ff;
}
