.theme-toggle {
	--icon-fll: oklch(21.08% 0.055 34.69 / 0.8);
	--icon-fill-hover: oklch(21.08% 0.055 34.69);
	--toggle-size: var(--size-6);
	background: none;
	border: none;
	padding: 0;

	inline-size: var(--toggle-size);
	block-size: var(--toggle-size);
	aspect-ratio: 1;
	border-radius: 50%;

	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	outline-offset: 5px;

	&:hover {
		fill: var(--icon-fill-hover);
	}

	& > svg {
		inline-size: 100%;
		block-size: 100%;
		stroke-linecap: round;
	}

	@media (hover: none) {
		--toggle-size: 48px;
	}
}

@layer base.props {
	:root {
		--pink-0: #fdeeeb;
		--pink-1: rgba(243, 162, 145, 100%);
		--pink-2: oklch(78.78% 0.1 32.39);
		--pink-3: rgba(243, 162, 145, 17%);
		--pink-4: oklch(70.8% 0.165 32.85 / 0.7);

		--gray-1: oklch(54.82% 0.022 241.02);
		--gray-2: oklch(34% 0.019 229.64 / 0.7);
		--gray-3: oklch(64.86% 0.181 249.54);

		--shadow-color: 26.79% 0.003 264.51;
		--shadow-strength: 1%;
		--box-shadow-1: 0 -1px 2px 0 oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 2%)),
			0 2px 1px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 5px 5px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 10px 10px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 4%)),
			0 20px 20px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 5%)),
			0 40px 40px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 7%));
		--box-shadow-2: 0 -1px 2px 0 oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 1%)),
			0 -15px 10px 0px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 15px 5px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 3%)),
			0 10px 10px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 9%)),
			0 20px 20px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 5%)),
			0 40px 40px -2px oklch(var(--shadow-color) /
						calc(var(--shadow-strength) + 7%));
	}
}

@layer components.fresh {
	.sun-and-moon > :is(.moon, .sun, .sun-beams) {
		transform-origin: center center;
	}

	.sun-and-moon > :is(.moon, .sun) {
		fill: var(--icon-fll);
	}

	.theme-toggle:is(:hover, :focus-visible)
		> :is(.sun-and-moon > :is(.moon, .sun)) {
		fill: var(--icon-fill-hover);
	}

	.sun-and-moon > .sun-beams {
		stroke: var(--icon-fll);
		stroke-width: 2px;
	}

	.theme-toggle:is(:hover, :focus-visible)
		> :is(.sun-and-moon > .sun-beams > path) {
		stroke: var(--icon-fill-hover);
	}
}

@layer base.theme {
	:where([data-color-mode="light"], .light, .light-theme) {
		--surface-1: oklch(97.14% 0.011 31.07);
		--surface-2: oklch(100% 0 0 / 0.8);
		--highlight-color: var(--pink-4);
		--font-color: oklch(21.08% 0.055 34.69);
	}
}

@layer base.theme {
	:where([data-color-mode="dark"], .dark, .dark-theme) {
		--surface-1: var(--gray-1);
		--surface-2: var(--gray-2);
		--highlight-color: var(--gray-3);
		--font-color: oklch(100% 0 31.08);
	}

	:where([data-color-mode="dark"], .dark, .dark-theme) :where(body) {
		color: var(--font-color-2);
	}
}
