.menu-content__container {
	position: relative;

	animation: fadeIn 1000ms;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		transform: translateX(-500px);
	}

	100% {
		transform: translateX(0px);
	}
}
